h1{
    color:red;
    text-align: center;
    color:WHITE;
}
.stopwatch{
position: absolute;
top:40%;
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;
width:100%;

}
.actions{
 margin-top: 3rem; 
}
i{
   
    font-size: x-large;
    margin-left: 2rem;
    color:green;
}